* {
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100vh;
  margin: 0;
  background-color: #333333;
}

.field-text {
  position: absolute;
  top: 0;
  right: 0;
}

#matrix {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.matrix__list {
  /*list-style: none;*/
  display: inline-flex;
  margin: 0;
  padding: 0;
  outline: 1px dotted rebeccapurple;
}

.matrix__item {
  display: block;
  width: 10px;
  height: 10px;
  margin: 5px;
  outline: 1px solid green;
}

.matrix__item--active {
  background: red;
}
